@import url('https://fonts.google.com/specimen/Lobster?query=lobs#standard-styles');

body {
  background-image: linear-gradient(#615dad, #ffc8da);
}
.container {
  display: flex;
  justify-content: center;
}
.piskvorky {
  background-color: #283e50;
}
